<%= link_to "Back to project", @issue.project %>
<div class="issue" style="margin-top:20px;position:relative;">
  <div class="issue-author">
    <%= @issue.author.email %> opened this issue <%= time_ago_in_words(@issue.created_at) %> ago
  </div>
  <div class="issue-subject">
    <h2 style="margin:0">
      <%= @issue.subject %>
    </h2>
  </div>
  <div class="issue-description">
    <%= simple_format(@issue.description) %>
  </div>
  <div class="issue-status">
    <% if @issue.status == 1 %>
      <span class="label label-success">Open</span>
    <% else %>
      <span class="label label-danger">Close</span>
    <% end %>
  </div>
  <div style="position:absolute;top:0;right:0;">
    <% if current_user.work_logs.running? %>
      <%= link_to "Stop", stop_work_log_path(current_user.work_logs.running), class: "btn btn-danger", method: :patch %>
    <% else %>
      <%= link_to "Start", start_issue_work_logs_path(issue_id: @issue), class: "btn btn-primary", method: :post %>
    <% end %>
    <%= link_to "Edit", edit_issue_path(@issue), class: "btn btn-default" %>
    <% if @issue.status == 1 %>
      <%= link_to "Close", close_issue_path(@issue), class: "btn btn-danger", confirm: "Are you sure?", method: :patch %>
    <% else %>
      <%= link_to "Reopen", reopen_issue_path(@issue), class: "btn btn-default", method: :patch %>
    <% end %>
  </div>
</div>
<div class="section">
  <h3>WorkLogs</h3>
  <ul class="media-list">
    <% @issue.work_logs.complete.order("updated_at DESC").each do |work_log| %>
      <li class="media">
        <div style="position:relative;">
          <%= work_log.user.email %><br />
          WorkTime <%= formatted_time_distance(work_log.start_at, work_log.end_at) %><br />
          Start At: <%= work_log.start_at %> / End At: <%= work_log.end_at %>
          <div style="position:absolute;top:0;right:0;">
            <%= link_to "Edit", edit_work_log_path(work_log), class: "btn btn-default" %>
            <%= link_to "Destroy", work_log, class: "btn btn-danger", confirm: "Are you sure?", method: :delete %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
