<h1>Listing work_logs</h1>

<table>
  <thead>
    <tr>
      <th>Start at</th>
      <th>End at</th>
      <th>Issue</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @work_logs.each do |work_log| %>
      <tr>
        <td><%= work_log.start_at %></td>
        <td><%= work_log.end_at %></td>
        <td><%= work_log.issue_id %></td>
        <td><%= work_log.user_id %></td>
        <td><%= link_to 'Show', work_log %></td>
        <td><%= link_to 'Edit', edit_work_log_path(work_log) %></td>
        <td><%= link_to 'Destroy', work_log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Work log', new_work_log_path %>
