<p id="notice"><%= notice %></p>

<p>
  <strong>Start at:</strong>
  <%= @work_log.start_at %>
</p>

<p>
  <strong>End at:</strong>
  <%= @work_log.end_at %>
</p>

<p>
  <strong>Issue:</strong>
  <%= @work_log.issue_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @work_log.user_id %>
</p>

<%= link_to 'Edit', edit_work_log_path(@work_log) %> |
<%= link_to 'Back', work_logs_path %>
