<div class="new-project" style="margin-bottom:20px">
  <%= link_to "New Project", new_project_path, class: "btn btn-default" %>
</div>
<div class="row">
  <% @projects.each do |project| %>
    <div class="col-md-4" style="margin-bottom:20px;">
      <%= div_for project, style: "height:200px;" do %>
        <div class="project-name">
          <%= link_to project.name, project %>
        </div>
        <div>
          <p><%= project.description.truncate(50) %></p>
        </div>
        <div id="members">
          <% project.members.each do |member| %>
            <%= member.user.email %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
